body,
html {
  font-family: sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.newForm {
  padding: 30px 10%;
}

.homeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}
